MAFinTEI.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Morphosyntactic Annotation Framework -- TEI serialization</title>
        <editor xml:id="bansp">Piotr Banski</editor>
        <editor xml:id="LR">Laurent Romary</editor>
      </titleStmt>
      <publicationStmt>
	<publisher>(?)</publisher>
        <availability status="free">
          <p>This ODD specification accompanies an international standard published by ISO. The
            specification itself is free (let us use the licensing that the TEI uses: BSD or CC).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Initially created on <date when="2020-02-02T09:13:01">Sunday 2nd
            February 2020</date> by the form at http://www.tei-c.org.uk/Roma/.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2020-02-02" who="#bansp">initial version, derived from TEI Bare with certain LingSIG extensions (branches normAttribute and attReferring).</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <!--    <front>
      <divGen type="toc"/>
    </front>-->
    <body>
      <p>This ODD customization accompanies the international ISO standard ISO 24611:2020
        "Morphosyntactic Annotation Framework" (MAF). It has been derived from the "TEI Bare"
        customization, together with modifications suggested by the LingSIG (TEI Special Interest
        Group "TEI for linguists"). Much of the prose that follows is based on the TEI Bare, with
        thanks to its editors.</p>
      <div>
        <head>Basic text structure</head>
        <p>In this very simple schema, a document contains a <gi>body</gi>, where only the following
          elements are permitted: <specList>
            <specDesc key="div"/>
            <specDesc key="head"/>
            <specDesc key="list"/>
            <specDesc key="p"/>
          </specList>
        </p>
        <p>The <gi>list</gi> element may contain a <gi>head</gi> followed by a
sequence either of <gi>label</gi>-<gi>item</gi> pairs, or of
<gi>item</gi> elements alone. </p>
        <p>The <gi>item</gi> and <gi>p</gi> elements have the same structure:
either may  contain just text, or a mixture of text with
<gi>list</gi>, or <gi>title</gi> elements.</p>
        <p>Similarly, the <gi>div</gi> element may contain a <gi>head</gi>,
followed by a nested <gi>div</gi>, or one or more <gi>p</gi> elements.
</p>
        <p>The <att>version</att> attribute on the <gi>TEI</gi> element can be used to align it with
          the particular variant of ISO MAF, while the <att>level</att> attribute on the
            <gi>title</gi> element is removed. Other attributes are also removed as a consequence of the class
          modifications described below.</p>
        <p>The following specification group deletes the unwanted attributes:
<specGrp xml:id="bodyfixes">
            <elementSpec ident="title" mode="change" module="core">
              <attList>
                <attDef ident="level" mode="delete"/>
              </attList>
            </elementSpec>
</specGrp>
</p>
      </div>
      <div>
        <head>Header structure</head>
        <p>A much simplified version of the TEI Header is defined, again by
the deletion of many elements. For validity, all that is required
within it is the <gi>fileDesc</gi>, which contains only the following elements:
<specList><specDesc key="titleStmt"/><specDesc key="publicationStmt"/><specDesc key="sourceDesc"/></specList>
</p>
        <p>Within the <gi>titleStmt</gi> only a <gi>title</gi> is permitted;
	within the other two elements only a <gi>p</gi> is permitted.
	The <att>default</att> attribute on the <gi>sourceDesc</gi> element is
	also removed.
	<specGrp xml:id="hdrfixes">
	  <elementSpec ident="sourceDesc" mode="change" module="header">
	    <attList><attDef ident="default" mode="delete"/></attList>
	  </elementSpec>
	</specGrp>
	</p>
      </div>
      <div>
        <head>Class modifications</head>
        <p>Several of the TEI attribute classes are simplified (this largely follows the original
          construction of the TEI Bare customization). The attributes <code>xml:space</code>, and
            <code>xml:base</code> are removed from the <code>att.global class</code>, so that this
          now makes available to all member elements only the following attributes:
            <att>xml:id</att>, <att>n</att>, and <att>xml:lang</att>.</p>
        <p>From <code>att.global.rendition</code> the attributes 
          <code>rend</code>, and <code>style</code> are removed, leaving 
          <code>rendition</code> as the sole attribute within this class.</p>
        <p>Finally, the classes <code>att.fragmentable</code>, <code>att.divLike</code>, 
          <code>att.declaring</code>, <code>att.global.source</code>, and <code>att.global.responsibility</code> 
          are removed completely, so that none of its 
          members inherit the <code>part</code>, <code>org</code>, <code>sample</code>, <code>decls</code>,
          <code>source</code>, <code>cert</code>, nor <code>resp</code>
          attributes defined in the unmodified TEI.</p>
        <specGrp xml:id="classmods">
          <classSpec ident="att.global" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.global.rendition" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="style" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.fragmentable" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.divLike" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.written" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.global.source" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.global.responsibility" mode="delete" module="tei" type="atts"/>
        </specGrp>
        <p>This customization adds the classes <code>att.normalized</code> and
            <code>att.referring</code>. They serve as ways to enable the attributes <att>norm</att>,
            <att>org</att>, <att>from</att> and <att>to</att> on the elements <gi>w</gi>,
            <gi>pc</gi>, <gi>seg</gi> and <gi>span</gi>.</p>
      </div>
      <div>
        <head>Formal declaration</head>
        <schemaSpec ident="MAFinTEI" xml:lang="en" prefix="tei_" targetLang="en" docLang="en">
          <moduleRef key="linking" include="ab"/>
          <moduleRef key="analysis" include="pc s spanGrp w span"/>
          <moduleRef key="iso-fs"/>
          <moduleRef key="core" include="p list item label head author title"/>
          <moduleRef key="tei"/>
          <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt sourceDesc"/>
          <moduleRef key="textstructure" include="TEI text body div"/>
          <moduleRef key="dictionaries"/>  <!--for the purpose of defining att.normalized and for some examples of entries-->
          <specGrpRef target="#classmods"/>
          <specGrpRef target="#bodyfixes"/>
          <specGrpRef target="#hdrfixes"/>
          
          <classSpec xmlns="http://www.tei-c.org/ns/1.0" module="dictionaries" xml:id="ATTNORM" type="atts" ident="att.normalized">
            <desc versionDate="2019-11-07" xml:lang="en">provides the <att>norm</att> and <att>orig</att> attributes for usage within token-level elements in the analysis module and within lexicographic microstructure in the dictionaries module.</desc>
            <classes/>
            <attList>
              <attDef ident="norm" usage="opt">
                <gloss versionDate="2007-07-04" xml:lang="en">normalized</gloss>
                <gloss versionDate="2007-12-20" xml:lang="ko"> 표준화</gloss>
                <gloss versionDate="2008-04-06" xml:lang="es">normalizado</gloss>
                <gloss versionDate="2008-03-30" xml:lang="fr">normalisé</gloss>
                <gloss versionDate="2007-11-06" xml:lang="it">normalizzato</gloss>
                
                <desc versionDate="2018-03-17" xml:lang="en">provides the normalized/standardized form of information present in the source text in a
                  non-normalized form</desc>
                <desc versionDate="2007-12-20" xml:lang="ko">비표준형으로 원본 텍스트에서 제시된 정보의 표준형을 제시한다.</desc>
                <desc versionDate="2007-05-02" xml:lang="zh-TW">提供一規格化形式的資訊，其來源文件為非規格化形式</desc>
                <desc versionDate="2008-04-05" xml:lang="ja">当該テキストを，正規形を示す．</desc>
                <desc versionDate="2009-05-28" xml:lang="fr">donne une forme normalisée de
                  l'information fournie par le texte source sous une forme non normalisée.</desc>
                <desc versionDate="2007-05-04" xml:lang="es">proprorciona de manera normalizada información dada en el texto fuente de manera no normalizada</desc>
                <desc versionDate="2007-01-21" xml:lang="it">fornisce la forma normalizzata delle informazioni contenute nel testo di origine in forma non normalizzata.</desc>
                <datatype><dataRef key="teidata.text"/></datatype>
                <exemplum xml:lang="en">
                  <p>Normalization of part-of-speech information within a dictionary entry.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <gramGrp>
                      <pos norm="noun">n</pos>
                    </gramGrp>
                  </egXML>
                </exemplum>
                <exemplum versionDate="2008-04-06" xml:lang="fr">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#fr-ex-Grand-Robert">
                    <gramGrp>
                      <pos norm="nom">n.</pos>
                    </gramGrp>
                  </egXML>
                </exemplum>
                <exemplum xml:lang="en">
                  <p>Normalization of a source form in a tokenized historical corpus.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <seg xmlns="">
                      <w>for</w>
                      <w norm="virtue's">vertues</w>
                      <w>sake</w></seg>
                  </egXML>
                </exemplum>
                <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <seg xmlns="">
                      <w norm="persuasion">perswasion</w>
                      <w>of</w>
                      <w norm="Unity">Vnitie</w>
                    </seg>
                  </egXML>
                </exemplum>
                
                <exemplum xml:lang="en">
                  <p>Example of normalization from <ref target="http://www.deutschestextarchiv.de/anonym_aviso_1609/258">Aviso. Relation oder Zeitung. Wolfenbüttel, 1609. In: Deutsches Textarchiv</ref>.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <seg xmlns="">
                      <w norm="freiwillig">freywillig</w>
                      <pc norm="," join="left">/</pc>
                      <w norm="unbedrängt">vnbedraͤngt</w>
                      <w norm="und">vnd</w>
                      <w norm="unverhindert">vnuerhindert</w>
                    </seg>
                  </egXML>
                </exemplum>
                
                <exemplum xml:lang="de">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <w norm="Teil" xmlns="">Theyll</w>
                  </egXML>
                </exemplum>
                <exemplum xml:lang="de">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <w norm="Freude" xmlns="">Frewde</w>
                  </egXML>
                </exemplum>
              </attDef>
              
              <attDef ident="orig" usage="opt">
                <gloss versionDate="2007-07-04" xml:lang="en">original</gloss>
                <gloss versionDate="2007-12-20" xml:lang="ko">원본</gloss>
                <gloss versionDate="2007-11-06" xml:lang="it">originale</gloss>
                <desc versionDate="2005-10-10" xml:lang="en">gives the original string or is the empty string when the element does not appear
                  in the source text.</desc>
                <desc versionDate="2007-12-20" xml:lang="ko">원본 문자열을 제시하거나 요소가 원본텍스트에 나타나지 않을 때는 공백 문자열을 제시한다.</desc>
                <desc versionDate="2009-05-28" xml:lang="fr">indique la chaîne originale ou contient une chaîne vide si l'élément n'apparaît pas dans le texte source.</desc>
                <desc versionDate="2007-05-02" xml:lang="zh-TW">當該元素未出現於來源文件中，提供其原文字串或空白字串。</desc>
                <desc versionDate="2008-04-05" xml:lang="ja">元の文字列を示す．当該要素が元資料に無い場合には空になる．</desc>
                <desc versionDate="2007-05-04" xml:lang="es">da la serie original o la serie vacía cuando el elemento no aparece en el texto fuente</desc>
                <desc versionDate="2007-01-21" xml:lang="it">fornisce la stringa originale o la srtinga vuota quando l'elemento non compare nel testo di origine.</desc>
                <datatype><dataRef key="teidata.text"/></datatype>
                
                <exemplum xml:lang="en">
                  <p>Example from a language documentation project of the Mixtepec-Mixtec language (ISO 639-3:
                    'mix'). This is a use case where speakers spell something incorrectly but we would
                    like to preserve it for any number of reasons, the use of @orig is essential and could
                    have uses for both the speaker to see past mistakes, researchers to get insight into how
                    untrained speakers write their language instinctually (in contrast to prescribed
                    convention), etc.:</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                    <w orig="ntsa sia'i">ntsasia'i</w>
                  </egXML>
                </exemplum>
              </attDef>
              
            </attList>
          </classSpec>
          
          <dataSpec xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" module="tei"  
          ident="teidata.referring">
          <desc versionDate="2017-03-21" xml:lang="en">defines an attribute value which can be used for constructing references to points or spans in a data stream, from the most coarse, by means of pointers (URIs) to fine-graded, expressed by integers.</desc>
          <content>
            <alternate>
              <dataRef name="nonNegativeInteger"/>
              <dataRef key="teidata.pointer"/>
            </alternate>
          </content>
          </dataSpec>
          
          <classSpec xmlns="http://www.tei-c.org/ns/1.0" module="tei" type="atts" ident="att.referring">
            
            <desc versionDate="2017-03-21" xml:lang="en">provides attributes for specifying the beginning
              and end of a linguistic or textual segment, by addressing the character offsets or by
              identifying the edge elements via their ID.</desc>
            <classes/>
            
            <!-- the fragment *[local-name() = ('span')] is an expression of a kludge that makes it impossible
	     at present to say "only elements that add themselves to this class" 

	     see https://github.com/TEIC/TEI/issues/1417

	Ideally, the sequence should be extensible automatically, but that is unfortunately currently the 
	task of the person preparing a customization -->
            
            <constraintSpec scheme="schematron" ident="default_mode"
              xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <constraint>
                <sch:rule context="*[local-name() = ('span')][not(@referringMode) and @from and @to]">
                  <sch:assert test="@from castable as xsd:anyURI">The default form of @from is a URI</sch:assert>
                  <sch:assert test="@to castable as xsd:anyURI">The default form of @to is a URI</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            
            <constraintSpec scheme="schematron" ident="two-and-three-match-one"
              xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <constraint>
                <sch:rule context="*[@referringMode eq 'pointer']">
                  <sch:assert test="@from castable as xsd:anyURI">When @referringMode is 'pointer',
                    @from must be a URI</sch:assert>
                  <sch:assert test="@to castable as xsd:anyURI">When @referringMode is 'pointer', @to
                    must be a URI</sch:assert>
                </sch:rule>
                <sch:rule context="*[@referringMode eq 'id']">
                  <sch:assert test="id(substring(@from,2))">When @referringMode is 'id',
                    @from must be pointing at an existing local target</sch:assert>
                  <sch:assert test="id(substring(@to,2))">When @referringMode is 'id',
                    @to must be pointing at an existing local target</sch:assert>
                </sch:rule>
                <sch:rule context="*[@referringMode = ('character','icp','byte')]">
                  <sch:assert test="@from castable as xsd:int">When @referringMode is
                    '<sch:value-of select="@referringMode"/>', @from must be a non-negative integer</sch:assert>
                  <sch:assert test="@to castable as xsd:int">When @referringMode is
                    '<sch:value-of select="@referringMode"/>', @to must be a non-negative integer</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            
            <constraintSpec ident="tofrom" scheme="schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <!--	originally defined in span.xml
		this rule should be unnecessary, because the datatypes on @to and @from are independently restricted
		(in attDef below), but that restriction appears to be ineffective... (?) -->
              <constraint>
                <sch:rule context="*[local-name() = ('span')][@to or @from]">
                  <sch:report  test="contains(normalize-space(@to),' ') or contains(normalize-space(@from),' ')"
                    >The attributes @to and @from on <sch:name/> may each contain only a single
                    value</sch:report>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="tonotfrom" scheme="schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <!--originally defined in span.xml-->
              <constraint>
                <sch:rule context="*[local-name() = ('span')][@to]">
                  <sch:report test="@to and not(@from)">If @to is supplied on <sch:name/>, @from must
                    be supplied as well</sch:report>
                </sch:rule>
              </constraint>
            </constraintSpec>
            
            <attList>
              <attDef ident="referringMode" usage="opt">
                <desc versionDate="2017-03-21" xml:lang="en">specifies whether the span/segment edges
                  are identified as numeric offsets or as pointers (URIs or fragment identifiers). The
                  default value of this attribute is <val>pointer</val> and it is optional in cases
                  where edges are identified by pointing. Otherwise, it has to be present.</desc>
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
                <defaultVal>pointer</defaultVal>
                <valList type="closed">
                  <valItem ident="pointer">
                    <desc versionDate="2017-03-21" xml:lang="en">edges are identified by pointing at
                      elements (e.g. <gi>w</gi>, <gi>c</gi> or <gi>seg</gi>) that can be pointed
                      at by means of an URI (which most often means that they have
                      <att>xml:id</att> attributes defined).</desc>
                  </valItem>
                  <valItem ident="id">
                    <desc versionDate="2017-03-21" xml:lang="en">edges are identified by pointing at
                      existing elements (e.g. <gi>w</gi>, <gi>c</gi> or <gi>seg</gi>) that carry
                      <att>xml:id</att> attributes; this value ensures ID validation -- in
                      this respect, it is analogous to the IDREF data types of DTDs.</desc>
                  </valItem>
                  <valItem ident="character">
                    <desc versionDate="2017-03-21" xml:lang="en">edges are identified by numeric
                      offsets (non-negative integers); note that a separate project-specific
                      convention regulates the value of the starting index (0 or 1).</desc>
                  </valItem>
                  <valItem ident="icp">
                    <desc versionDate="2017-03-21" xml:lang="en">"icp" stands for "inter-character
                      point". Edges are identified by numeric offsets (non-negative integers)
                      identifying inter-character points. In e.g. the string "point",
                      inter-character points are marked by vertical lines: |p|o|i|n|t| (by
                      convention, there is an icp before the first character and after the last
                      one); note that a separate project-specific convention regulates the value
                      of the starting index (0 or 1). ISO LAF and ISO MAF advocate 0 as the start index.</desc>
                  </valItem>
                  <valItem ident="byte">
                    <desc versionDate="2017-03-21" xml:lang="en">edges are identified by numeric
                      offsets (non-negative integers) addressing bytes. Note that this low-level
                      indexing type ignores XML or any other structuring.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="from" usage="opt">
                <desc versionDate="2017-03-21" xml:lang="en">specifies the starting point of a sequence of characters
                  or bytes, or of elements that can be pointed at with a URI.</desc>
                <desc versionDate="2007-12-20" xml:lang="ko">현재 부호를 붙이는 단락의 처음을 명시함; <att>to</att> 속성과 같이 쓰이지 않으면
                  전체 문단을 명시함.</desc>
                <desc versionDate="2007-05-02" xml:lang="zh-TW">指出被註解段落的起點；若沒有使用屬性<att>to</att>，則指出全部段落。</desc>
                <desc versionDate="2008-04-05" xml:lang="ja">当該注釈対象の始点を示す．属性<att>to</att>がない場合は，対象全 体を示す．</desc>
                <desc versionDate="2007-06-12" xml:lang="fr">précise le début du passage sur lequel porte
                  l'annotation ; s'il n'est pas accompagné d'un attribut <att>to</att>, désigne alors
                  l'intégralité du passage</desc>
                <desc versionDate="2007-05-04" xml:lang="es">especifica el principio del pasaje que se anota; si
                  no aparece con el atributo <att>to</att>, especifica el pasaje entero.</desc>
                <desc versionDate="2007-01-21" xml:lang="it">indica l'inizio di un brano annotato; se non è
                  accompagnato dall'attributo <att>to</att> indica l'inero brano</desc>
                <datatype minOccurs="1" maxOccurs="1">
                  <dataRef key="teidata.referring"/>
                </datatype>
              </attDef>
              <attDef ident="to" usage="opt">
                <desc versionDate="2017-03-21" xml:lang="en">specifies the end-point of a sequence of characters
                  or bytes, or of elements that can be pointed at with a URI.</desc>
                <desc versionDate="2007-12-20" xml:lang="ko">부호를 붙이는 단락의 끝을 명시한다.</desc>
                <desc versionDate="2007-05-02" xml:lang="zh-TW">指出被註解段落的終點。</desc>
                <desc versionDate="2008-04-05" xml:lang="ja">注釈対象の終点を示す．</desc>
                <desc versionDate="2007-06-12" xml:lang="fr">spécifie la fin du passage annoté.</desc>
                <desc versionDate="2007-05-04" xml:lang="es">especifica el final del pasaje que se anota.</desc>
                <desc versionDate="2007-01-21" xml:lang="it">indica la fine del brano annotato</desc>
                <datatype minOccurs="1" maxOccurs="1">
                  <dataRef key="teidata.referring"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum xml:lang="en">
              <p>The example below comes from a part of the CoMParS (Collection of Multi-lingual Parallel
                Sequences) project and presents a fragment of a monolingual subcorpus of German.</p>
              <p>The individual sequences (in this case, a sentence) are listed in the <gi>text</gi> part
                of the corpus, while the linguistic analysis is performed in the <gi>standOff</gi> part,
                which consists, among others, of segmentation information. CoMParS adheres to ISO LAF
                principles and uses inter-character points with the indexing starting at 0.</p>
              
              <!--	@valid should become "true" once the modification is incorporated into the Guidelines	-->
              <egXML xmlns="http://www.tei-c.org/ns/Examples" valid="feasible">
                <text xml:lang="de">
                  <body>
                    <ab xml:id="deu-ab1" n="1">Ich habe mich im Winter in dir verliebt.</ab>
                  </body>
                </text>
                <!--        
'I'c'h' 'h'a'b'e' 'm'i'c'h' 'i'm' 'W'i'n't'e'r' 'i'n' 'd'i'c'h' 'v'e'r'l'i'e'b't'.'
0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1  -->
                <standOff xmlns="">
                  <listAnnotation n="1" corresp="#deu-ab1" type="sequence">
                    <listAnnotation type="segmentation">
                      <seg from="0" to="3" xml:id="deu-ab1tok1">Ich</seg>
                      <seg from="4" to="8" xml:id="deu-ab1tok2">habe</seg>
                      <seg from="9" to="13" xml:id="deu-ab1tok3">mich</seg>
                      <seg from="14" to="16" xml:id="deu-ab1tok4">im</seg>
                      <seg from="17" to="23" xml:id="deu-ab1tok5">Winter</seg>
                      <seg from="24" to="26" xml:id="deu-ab1tok6">in</seg>
                      <seg from="27" to="31" xml:id="deu-ab1tok7">dich</seg>
                      <seg from="32" to="40" xml:id="deu-ab1tok8">verliebt</seg>
                      <seg from="40" to="41" xml:id="deu-ab1tok9">.</seg>
                    </listAnnotation>
                  </listAnnotation>
                </standOff>
              </egXML>
              <p>Segmentation information gathered above is subsequently used by all other (numerous) annotation layers.</p>
              <p>The CoMParS ODD contains the following statements that (a) include <gi>seg</gi> into the
                att.referring class, and (b) change the default value of the <att>referringMode</att> to
                <val>icp</val>. The first part will hopefully be accepted by the Council together with this ticket or afterwards, while the second part is forced by the lack of a mechanism that would make attribute classes aware of the elements that belong to them. This mechanism is on the Council's to-do list.
                <egXML xmlns="http://www.tei-c.org/ns/Examples" valid="true">
                  <elementSpec ident="seg" module="linking" mode="change">
                    <classes mode="change">
                      <memberOf key="att.referring"/>
                    </classes>
                  </elementSpec>
                  <classSpec ident="att.referring" mode="change" type="atts" module="tei">
                    <constraintSpec scheme="schematron" ident="default_mode" mode="replace">
                      <constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                        <sch:rule
                          context="*[local-name() = ('span','seg')][not(@referringMode) and @from and @to]">
                          <sch:assert test="@from castable as xsd:nonNegativeInteger">The
                            default form of @from is a non-negative integer</sch:assert>
                          <sch:assert test="@to castable as xsd:nonNegativeInteger">The
                            default form of @to is a non-negative integer</sch:assert>
                        </sch:rule>
                      </constraint>
                    </constraintSpec>
                    <attList>
                      <attDef ident="referringMode" usage="opt" mode="change">
                        <defaultVal>icp</defaultVal>
                      </attDef>
                    </attList>
                  </classSpec>
                </egXML>
              </p>
            </exemplum>
            <remarks versionDate="2017-03-21" xml:lang="en">
              <p>When <att>referringMode</att> assumes numeric values, two theoretical options are
                possible for the start index. Some systems assume that indexing starts with 0, some
                assume that the initial index value is 1. This decision is not reflected by
                <att>referringMode</att> but should be documented in the header, together with other
                project-specific encoding decisions. Linguistic analysis in the ISO LAF (Linguistic
                Annotation Framework, ISO 24612:2012) assumes inter-character points (represented here
                by the value <val>icp</val>) and indices starting at 0.</p>
            </remarks>
            <listRef>
              <ptr target="#STECAT"/>
            </listRef>
            
          </classSpec>
          
        <elementSpec ident="span" mode="replace" module="analysis">
            <desc versionDate="2005-01-14" xml:lang="en">associates an interpretative annotation directly with a span of text.</desc>
            <desc versionDate="2007-12-20" xml:lang="ko">해석적 부호를 텍스트의 일정 부분과 직접적으로 연결시킨다.</desc>
            <desc versionDate="2007-05-02" xml:lang="zh-TW">將詮釋性註釋直接和一段文字段連結。</desc>
            <desc versionDate="2008-04-05" xml:lang="ja">テキスト部分に解釈的注釈を関連づける．</desc>
            <desc versionDate="2009-02-13" xml:lang="fr">associe une interprétation sous forme d'annotation
              directement à un passage donné dans un texte.</desc>
            <desc versionDate="2007-05-04" xml:lang="es">asocia una anotación interpretativa directamente con un
              periodo de texto.</desc>
            <desc versionDate="2007-01-21" xml:lang="it">associa direttamente l'annotazione interpretativa ad una
              prozione di testo</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.interpLike"/>
              <memberOf key="att.pointing"/>
              <memberOf key="att.referring"/>
              <memberOf key="model.global.meta"/>
            </classes>
            <content>
              <macroRef key="macro.phraseSeq.limited"/>
            </content>
            <constraintSpec ident="targetfrom" scheme="schematron">
              <constraint>
                <report xmlns="http://purl.oclc.org/dsdl/schematron" test="@from and @target">
                  Only one of the attributes @target and @from may be supplied on <name/>
                </report>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="targetto" scheme="schematron">
              <constraint>
                <report xmlns="http://purl.oclc.org/dsdl/schematron" test="@to and @target">
                  Only one of the attributes @target and @to may be supplied on <name/>
                </report>
              </constraint>
            </constraintSpec>
            
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <p xml:id="para2">(The "aftermath" starts here)</p>
                <p xml:id="para3">(The "aftermath" continues here)</p>
                <p xml:id="para4">(The "aftermath" ends in this paragraph)</p>
                <!-- ... -->
                <span type="structure" from="#para2" to="#para4">aftermath</span>
              </egXML>
            </exemplum>
            <exemplum versionDate="2008-04-06" xml:lang="fr">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <p xml:id="fr_para2">(la "conséquence" commence ici)</p>
                <p xml:id="fr_para3">(la "conséquence" continue ici)</p>
                <p xml:id="fr_para4">(la "conséquence" se termine dans ce paragraphe)</p>
                <span type="structure" from="#fr_para2" to="#fr_para4">conséquence</span>
              </egXML>
            </exemplum>
            <exemplum xml:lang="zh-TW">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <p xml:id="zh-tw_第二小節">("結局"從這裡開始)</p>
                <p xml:id="zh-tw_第三小節">("結局"持續)</p>
                <p xml:id="zh-tw_第四小節">("結局"結束於此)</p>
                <!-- ... -->
                <span type="架構" from="#zh-tw_第二小節" to="#zh-tw_第四小節">結局</span>
              </egXML>
            </exemplum>
            <listRef>
              <ptr target="#AISP"/>
            </listRef>
          </elementSpec>
          
          <elementSpec ident="w" mode="change">
            <classes mode="change">
              <memberOf key="att.referring"/>
            </classes>
          </elementSpec>
          
          <elementSpec ident="seg" mode="change">
            <classes mode="change">
              <memberOf key="att.referring"/>
            </classes>
          </elementSpec>
          
          <classSpec ident="att.linguistic" type="atts" mode="change">
            <attList>
              <attDef ident="phon" mode="change">
                <desc versionDate="2020-02-06" xml:lang="en">This attribute encodes information on
                  the pronunciation of the given element, according to the notation documented in
                  the header and/orr ODD.</desc>
              </attDef>
            </attList>
          </classSpec></schemaSpec>
      </div>
    </body>
  </text>
</TEI>