MAFinTEI.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Morphosyntactic Annotation Framework -- TEI serialization</title>
        <editor xml:id="bansp">Piotr Banski</editor>
        <editor xml:id="LR">Laurent Romary</editor>
      </titleStmt>
      <publicationStmt>
	<publisher>(?)</publisher>
        <availability status="free">
          <p>This ODD specification accompanies an international standard published by ISO.
            According to the liaison between the Text Encoding Initiative Consortium and ISO TC37
            SC4, this document is subject to the <ref target="https://tei-c.org/guidelines/licensing-and-citation/">licensing conditions of the TEI Guidelines</ref>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Initially created on <date when="2020-02-02T09:13:01">Sunday 2nd
            February 2020</date> by the form at http://www.tei-c.org.uk/Roma/.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2020-05-07" who="#bansp">added fragments of the standOff ODD (still in
        development at <ref target="https://github.com/TEIC/TEI/tree/sydb-standOff">a TEI-C repo
          branch</ref>); removed the normAttribute fragments, because they have just been merged
        into the Guidelines; streamlined/described the ODD wrt the intended goals</change>
      <change when="2020-02-02" who="#bansp">initial version, derived from TEI Bare with certain
        LingSIG extensions (branches normAttribute and attReferring).</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <!--    <front>
      <divGen type="toc"/>
    </front>-->
    <body>
      <p>This ODD customization accompanies the international ISO standard ISO 24611:2020
        "Morphosyntactic Annotation Framework" (MAF). It has been derived from the "TEI Bare"
        customization, together with modifications suggested by the LingSIG (TEI Special Interest
        Group "TEI for linguists"). Much of the prose that follows is based on the TEI Bare, with
        thanks to its editors.</p>  <!--note that we might change the prose as we go-->
      <p>The aim of this ODD is to document the customizations needed for the purpose of
        implementing MAF in TEI-based documents as well as to generate a schema for the
        "MAfinTEI-examples" document, which is meant as an example corpus-like implementation of the
        TEI serialization of MAF.</p>
      <div>
        <head>Basic text structure</head>
        <p>The example MAF application contains <gi>TEI</gi> as the root element, consisting of the
            <gi>teiHeader</gi>, and a <gi>text</gi>
          <!--and a <gi>standOff</gi>--> element. The <gi>text</gi> element contains a
            <gi>body</gi>, where only the following elements are permitted: <specList>
            <specDesc key="div"/>
            <specDesc key="head"/>
            <specDesc key="list"/>
            <specDesc key="p"/>
          </specList>
        </p>
        <p>The <gi>list</gi> element may contain a <gi>head</gi> followed by a sequence either of
            <gi>label</gi>-<gi>item</gi> pairs, or of <gi>item</gi> elements alone. </p>
        <p>The <gi>item</gi> and <gi>p</gi> elements have the same structure: either may contain
          just text, or a mixture of text with <gi>list</gi>, or <gi>title</gi> elements.</p>
        <p>Similarly, the <gi>div</gi> element may contain a <gi>head</gi>, followed by a nested
            <gi>div</gi>, or one or more <gi>p</gi> elements. </p>
        <p>The <att>version</att> attribute on the <gi>TEI</gi> element indicates the version of the
          Guidelines that the ODD is meant to be applied to. The <att>level</att> attribute on the
            <gi>title</gi> element is removed. Other attributes are also removed as a consequence of
          the class modifications described below.</p>
        <p>The following specification group deletes the unwanted attributes:
<specGrp xml:id="bodyfixes">
            <elementSpec ident="title" mode="change" module="core">
              <attList>
                <attDef ident="level" mode="delete"/>
              </attList>
            </elementSpec>
</specGrp>
</p>
      </div>
      <div>
        <head>Header structure</head>
        <p>A much simplified version of the TEI Header is defined, again by
the deletion of many elements. For validity, all that is required
within it is the <gi>fileDesc</gi>, which contains only the following elements:
<specList><specDesc key="titleStmt"/><specDesc key="publicationStmt"/><specDesc key="sourceDesc"/></specList>
</p>
        <p>Within the <gi>titleStmt</gi> only a <gi>title</gi> is permitted;
	within the other two elements only a <gi>p</gi> is permitted.
	The <att>default</att> attribute on the <gi>sourceDesc</gi> element is
	also removed.
	<specGrp xml:id="hdrfixes">
	  <elementSpec ident="sourceDesc" mode="change" module="header">
	    <attList><attDef ident="default" mode="delete"/></attList>
	  </elementSpec>
	</specGrp>
	</p>
      </div>
      <div>
        <head>Class modifications</head>
        <p>Several of the TEI attribute classes are simplified (this largely follows the original
          construction of the TEI Bare customization). The attribute <code>xml:base</code> is
          removed from the <code>att.global class</code>, so that this now makes available to all
          member elements only the following attributes: <att>xml:id</att>, <att>n</att>, and
            <att>xml:lang</att>.</p>
        <p>From <code>att.global.rendition</code> the attributes 
          <code>rend</code>, and <code>style</code> are removed, leaving 
          <code>rendition</code> as the sole attribute within this class.</p>
        <p>Finally, the classes <code>att.fragmentable</code>, <code>att.divLike</code>, 
          <code>att.declaring</code>, <code>att.global.source</code>, and <code>att.global.responsibility</code> 
          are removed completely, so that none of its 
          members inherit the <code>part</code>, <code>org</code>, <code>sample</code>, <code>decls</code>,
          <code>source</code>, <code>cert</code>, nor <code>resp</code>
          attributes defined in the unmodified TEI.</p>
        <specGrp xml:id="classmods">
          <classSpec ident="att.global" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="xml:base" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.global.rendition" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="style" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.fragmentable" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.divLike" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.written" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.global.source" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.global.responsibility" mode="delete" module="tei" type="atts"/>
        </specGrp>
        <p>This customization adds the attribute classes <code>att.offset</code>
          <!--and <code>att.transcoding</code>-->. They serve as ways to enable the attributes
            <att>startPos</att> and <att>endPos</att> on the elements <gi>w</gi>, <gi>pc</gi>,
            <gi>seg</gi> and <gi>span</gi>.</p>
        <p>Numerous word-level attributes for the encoding of grammatical information are provided
          by classes <code>att.lexicographic.normalized</code> and <code>att.linguistic</code> (the
          latter inheriting the attributes <att>norm</att> and <att>orig</att> from the former).</p>
      </div>
      <div>
        <head>Formal declaration</head>
        <schemaSpec ident="MAFinTEI" xml:lang="en" prefix="tei_" targetLang="en" docLang="en">
          <moduleRef key="linking" include="ab standOff"/>
          <moduleRef key="analysis" include="pc s spanGrp w span"/>
          <moduleRef key="iso-fs" include="f fs string symbol"/>
          <moduleRef key="core" include="p list item label head author title note"/>
          <moduleRef key="spoken" include="annotationBlock"/>  <!--for standOff -->
          <moduleRef key="tei"/>
          <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt sourceDesc"/>
          <moduleRef key="textstructure" include="TEI text body div"/>
          <moduleRef key="dictionaries" include="entry form orth gramGrp gram pos pron def"/>  <!-- for some examples of entries-->
          <specGrpRef target="#classmods"/>
          <specGrpRef target="#bodyfixes"/>
          <specGrpRef target="#hdrfixes"/>
          
          
          <!--  standOff stuff, see https://github.com/TEIC/TEI/compare/sydb-standOff  -->
          
          <classSpec xmlns="http://www.tei-c.org/ns/1.0" module="tei" type="model" ident="model.annotationLike" mode="add">
            <desc versionDate="2020-03-11" xml:lang="en">groups elements used to represent annotations.</desc>
            <classes>
              <memberOf key="model.standOffPart"/>
            </classes>
            <listRef>
              <ptr target="#FIXME"/>
            </listRef>
          </classSpec>
          
          <elementSpec xmlns="http://www.tei-c.org/ns/1.0" module="core" ident="note" mode="change">
            <classes mode="change">
              <memberOf key="model.annotationLike" mode="add"/>
            </classes>
          </elementSpec>
          
          <elementSpec ident="annotationBlock" module="spoken" xmlns="http://www.tei-c.org/ns/1.0" mode="replace">
            <!-- should this be in spoken module or analysis ? -->
            <desc xml:lang="en" versionDate="2016-02-27">groups together various annotations, e.g.
              for parallel interpretations of a spoken segment.</desc>
            <desc xml:lang="ja" versionDate="2018-12-28">様々な注釈をグループ化する．例えば，話されたセグメントの並行解釈のためなど．</desc>
            <classes>
              <memberOf key="model.divPart.spoken"/>
              <memberOf key="model.annotationLike"/>
              <memberOf key="att.ascribed"/>
              <memberOf key="att.timed"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <elementRef key="u"/>
                <elementRef key="spanGrp"/>
                <classRef key="model.global.spoken"/>
              </alternate>
            </content>
            <!-- shd there be a constraint to say if no child element is
       supplied the @corresp attrib must be used -->
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#NONE">
                <annotationBlock who="#SPK1" start="#T2" end="#T3" xml:id="ag20">
                  <u xml:id="u20">
                    <seg xml:id="seg37" type="utterance" subtype="modeless">
                      <w xml:id="w46">Yeah</w>
                    </seg>
                  </u>
                </annotationBlock>
                <annotationBlock who="#SPK1" start="#T5" end="#T6" xml:id="ag21">
                  <u xml:id="u21">
                    <seg xml:id="seg38" type="utterance" subtype="modeless">
                      <w xml:id="w47">Mhm</w>
                    </seg>
                  </u>
                </annotationBlock>
              </egXML>
            </exemplum>
            <listRef>
              <ptr target="#TSTPAC"/>
            </listRef>
          </elementSpec>
          
          <elementSpec xmlns="http://www.tei-c.org/ns/1.0"
            ident="listAnnotation" mode="add" module="linking"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron">
            <desc versionDate="2020-03-08" xml:lang="en">contains a list of
              annotations, typically encoded as <gi>annotation</gi>,
              <gi>annotationBlock</gi>, or <gi>note</gi>, possibly organized with
              nested <gi>listAnnotation</gi> elements.</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
              <memberOf key="att.notated"/>
              <memberOf key="att.declaring"/>
              <memberOf key="model.annotationLike"/>
            </classes>
            <content>
              <sequence>
                <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
                <classRef key="model.labelLike" minOccurs="0" maxOccurs="unbounded"/>
                <classRef key="model.annotationLike" minOccurs="1" maxOccurs="unbounded"/>
              </sequence>
            </content>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#NONE">
                <standOff>
                  <listAnnotation>
                    <note target="#RotAM.4.15" place="margin" resp="#STC" type="gloss">
                      The spell begins to break
                    </note>
                    <note target="#RotAM.4.15" place="bottom" resp="#JLL">
                      The turning point of the poem...
                    </note>
                  </listAnnotation>
                </standOff>
                <!-- ... -->
                <lg xml:id="RotAM.4.15" rhyme="ABCB">
                  <l>The self-same moment I could pray;</l>
                  <l>And from my neck so free</l>
                  <l>The albatross fell off, and sank</l>
                  <l>Like lead into the sea.</l>
                </lg>
              </egXML>
            </exemplum>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#UND">
                <listAnnotation>
                  <annotationBlock corresp="#u1">
                    <spanGrp type="pos">
                      <span from="#e14.w1" to="#e14.w1">CONJ</span>
                      <span from="#e14.w2" to="#e14.w2">RELPRO</span>
                      <span from="#e14.w3" to="#e14.w3">V</span>
                    </spanGrp>
                    <spanGrp type="prosody">
                      <span from="#T0" to="#T1">faster</span>
                    </spanGrp>
                  </annotationBlock>
                  <!-- ... annotationBlocks for #u2 through #u27 here -->
                </listAnnotation>
              </egXML>
            </exemplum>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#UND">
                example THREE here, perhaps from one of: benger.geniad.xml,
                seward.cook.xml, smith.conversations.xml, francis.song.xml.
              </egXML>
            </exemplum>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#UND">
                example FOUR here
              </egXML>
            </exemplum>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#UND">
                example FIVE here
              </egXML>
            </exemplum>
            <remarks versionDate="2020-03-09" xml:lang="en">
              <p>The enclosed annotations may use the general-purpose
                <gi>note</gi> element; or, for annotations pertaining to
                transcriptions of speech, the special-purpose
                <gi>annotationBlock</gi> element; or the <gi>annotation</gi>
                element, which is intended to map cleanly onto the <ref
                  target="#WADM">Web Annotation Data Model</ref>.</p>
            </remarks>
            <listRef>
              <ptr target="#FIXME"/>
            </listRef>
          </elementSpec>
          
          
          
          
          <!--offset attributes for standoff-->
          <classSpec xmlns="http://www.tei-c.org/ns/1.0" module="tei" type="atts" ident="att.offset" mode="add">
            
            <desc versionDate="2020-02-06" xml:lang="en">provides attributes for specifying the beginning
              and end of a linguistic or textual segment, by addressing the character offsets.</desc>
            <classes/>

            <constraintSpec ident="endPosnotstartPos" scheme="schematron"
              xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <!-- paraphrased from span.xml-->
              <constraint>
                <sch:rule context="*[@endPos]">
                  <sch:assert test="@startPos">If @endPos is supplied on <sch:name/>, @startPos must
                    be supplied as well</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            
            <constraintSpec ident="startPosnotendPos" scheme="schematron"
              xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <!-- paraphrased from span.xml-->
              <constraint>
                <sch:rule context="*[@startPos]">
                  <sch:assert test="@endPos">If @startPos is supplied on
                    <sch:name/>, @endPos must be supplied as well</sch:assert></sch:rule>
              </constraint>
            </constraintSpec>

            <constraintSpec ident="offsetBaseObligatory" scheme="schematron"
              xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <constraint>
                <sch:rule context="*[@endPos]"><sch:assert test="ancestor-or-self::*[@offsetBase]"
                    >offset attributes require @offsetBase to be defined in the same element or its
                    ancestor</sch:assert></sch:rule>
              </constraint>
            </constraintSpec>
            
            <attList>
              <attDef ident="offsetBase" usage="opt">
                <desc versionDate="2020-02-06" xml:lang="en">points at the element that forms the
                  basis for offset calculations in standoff annotations. An element using the
                    <att>startPos</att> and <att>endPos</att> attributes either has to define
                    <att>offsetBase</att> as well, or <att>offsetBase</att> should be defined on an
                  ancestor element.</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
              <!--
                This came as legacy from the attReferring ticket, where attributes could 
                have different datatypes. In the case at hand, the content below should probably 
                become part of the documentation. 
                
                
                <attDef ident="offsetUnit" usage="opt">
                <desc versionDate="2020-02-06" xml:lang="en">specifies the kind of units that are
                  used to count the offset. The default value of this attribute is
                    <val>icp</val> that stands for "inter-character points".</desc>
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
                <defaultVal>icp</defaultVal>
                <valList type="closed">
                  <valItem ident="char">
                    <!-\-  note that this could be two values: "char0" and "char1", 
                      for simplicity and to eliminate the separate step of documenting the start value-\->
                    <desc versionDate="2020-02-06" xml:lang="en">edges are identified by numeric
                      offsets (non-negative integers); note that a separate project-specific
                      convention regulates the value of the starting index (0 or 1). In the string
                      "a bit weird", the substring "bit" is delimited by offsets 3 and 5 (on the
                      crucial assumption that the count starts at 1), or 2 and 4 -\- on the
                      assumption that the count starts at 0.</desc>
                  </valItem>
                  <valItem ident="icp">
                    <desc versionDate="2020-02-06" xml:lang="en">"icp" stands for "inter-character
                      point". Edges are identified by numeric offsets (non-negative integers)
                      identifying inter-character points. In e.g. the string "point",
                      inter-character points are marked by vertical lines: |p|o|i|n|t| (by
                      convention, there is an icp before the first character and after the last
                      one); note that a separate project-specific convention regulates the value of
                      the starting index (0 or 1). ISO LAF and ISO MAF advocate 0 as the start
                      index. The same convention has been used by W3C XPointer.</desc>
                  </valItem>
                  <valItem ident="byte">
                    <desc versionDate="2020-02-06" xml:lang="en">edges are identified by numeric
                      offsets (non-negative integers) addressing bytes. Note that this low-level
                      indexing type ignores XML or any other structuring.</desc>
                  </valItem>
                </valList>
              </attDef>-->
              <attDef ident="startPos" usage="opt">
                <desc versionDate="2020-02-06" xml:lang="en">specifies the starting point of a sequence of characters
                  or bytes, or of elements that can be pointed at with a URI.</desc>
                <datatype minOccurs="1" maxOccurs="1">
                  <dataRef key="teidata.count"/>
                </datatype>
              </attDef>
              <attDef ident="endPos" usage="opt">
                <desc versionDate="2020-02-06" xml:lang="en">specifies the end-point of a sequence of characters
                  or bytes, or of elements that can be pointed at with a URI.</desc>
                <datatype minOccurs="1" maxOccurs="1">
                  <dataRef key="teidata.count"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum xml:lang="en">
              <p>The example below comes from a part of the CoMParS (Collection of Multi-lingual Parallel
                Sequences) project and presents a fragment of a monolingual subcorpus of German.</p>
              <p>The individual sequences (in this case, a sentence) are listed in the <gi>text</gi> part
                of the corpus, while the linguistic analysis is performed in the <gi>standOff</gi> part,
                which consists, among others, of segmentation information. CoMParS adheres to ISO LAF
                principles and uses inter-character points with the indexing starting at 0.</p>
              
              <!--	@valid should become "true" once the modification is incorporated into the Guidelines	-->
              <egXML xmlns="http://www.tei-c.org/ns/Examples" valid="feasible">
                <text xml:lang="de">
                  <body>
                    <ab xml:id="deu-ab1" n="1">Ich habe mich im Winter in dich verliebt.</ab>
                  </body>
                </text>
                <!--        
'I'c'h' 'h'a'b'e' 'm'i'c'h' 'i'm' 'W'i'n't'e'r' 'i'n' 'd'i'c'h' 'v'e'r'l'i'e'b't'.'
0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1  -->
                <standOff xmlns="">
                  <listAnnotation n="1" offsetBase="#deu-ab1" type="sequence">
                    <listAnnotation type="segmentation">
                      <seg startPos="0" endPos="3" xml:id="deu-ab1tok1">Ich</seg>
                      <seg startPos="4" endPos="8" xml:id="deu-ab1tok2">habe</seg>
                      <seg startPos="9" endPos="13" xml:id="deu-ab1tok3">mich</seg>
                      <seg startPos="14" endPos="16" xml:id="deu-ab1tok4">im</seg>
                      <seg startPos="17" endPos="23" xml:id="deu-ab1tok5">Winter</seg>
                      <seg startPos="24" endPos="26" xml:id="deu-ab1tok6">in</seg>
                      <seg startPos="27" endPos="31" xml:id="deu-ab1tok7">dich</seg>
                      <seg startPos="32" endPos="40" xml:id="deu-ab1tok8">verliebt</seg>
                      <seg startPos="40" endPos="41" xml:id="deu-ab1tok9">.</seg>
                    </listAnnotation>
                  </listAnnotation>
                </standOff>
              </egXML>
              <p>Segmentation information gathered above is subsequently used by all other (numerous) annotation layers.</p>
              <p>The CoMParS ODD contains the following statements that include <gi>seg</gi> and
                  <gi>listAnnotation</gi> into the att.offset class: <egXML
                  xmlns="http://www.tei-c.org/ns/Examples" valid="true">
                  <elementSpec ident="seg" module="linking" mode="change">
                    <classes mode="change">
                      <memberOf key="att.offset"/>
                    </classes>
                  </elementSpec>
                    <elementSpec ident="listAnnotation" module="spoken" mode="change">
                      <classes mode="change">
                        <memberOf key="att.offset"/>
                      </classes>
                    </elementSpec>
                </egXML>
              </p>
            </exemplum>
            <remarks versionDate="2017-03-21" xml:lang="en">
              <p>Two options are possible (and practiced) for the start index. Some systems assume
                that indexing starts with 0, some assume that the initial index value is 1. This
                decision should be documented in the header, together with other project-specific
                encoding decisions. Linguistic analysis in the ISO LAF (Linguistic Annotation
                Framework, ISO 24612), MAF (Morphosyntactic Annotation Framework, ISO 24611), as
                well as W3C XPointer assume inter-character points and indices starting at 0. W3C
                XPath counts characters, beginning at 1.</p>
            </remarks>
            <listRef>
              <ptr target="#STECAT"/>
            </listRef>
          </classSpec>

          <elementSpec ident="span" mode="change">
            <classes mode="change">
              <memberOf key="att.linguistic"/>
              <memberOf key="att.offset"/>
            </classes>
            <constraintSpec ident="spanAlwaysTyped" scheme="schematron"
              xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <constraint>
                <sch:rule context="*[self::*:span]">
                  <sch:assert test="@type or ancestor::*:spanGrp/@type"><sch:name/> must either carry a @type attribute, or be nested within a spanGrp that is @typed</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
          </elementSpec>
          
          <elementSpec ident="w" mode="change">
            <classes mode="change">
              <memberOf key="att.offset"/>
            </classes>
          </elementSpec>

          <elementSpec ident="s" mode="change">
            <classes mode="change">
              <memberOf key="att.offset"/>
            </classes>
          </elementSpec>
          
          <classSpec ident="att.linguistic" type="atts" mode="change">
            <attList>
              <attDef ident="phon" mode="change">
                <desc versionDate="2020-02-06" xml:lang="en">This attribute encodes information on
                  the pronunciation of the given element, according to the notation documented in
                  the header and/orr ODD.</desc>
              </attDef>
            </attList>
          </classSpec></schemaSpec>
      </div>
    </body>
  </text>
</TEI>